<div id="page-content">
	<div class="container" id="dashboard-container">
		<div class="jumbotron text-center text-white">
		  <h1 class="display-4">Perfect Audience - Notes App</h1>
		  <p class="lead">This is a simple notes app</p>
		  <hr class="my-4">
		  <p>Click below to start creating notes.</p>
		  <%= link_to "Create Note", new_note_path, class: "btn btn-info btn-lg" %>
		</div>
	</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
	<div class="container text-center">
		<small>Copyright &copy; Kosha Vaghela</small>
	</div>
</footer>
